.conteneur_body{
width:100%;
margin:0;
}
#carouselExampleIndicators{

    height:600px;
    width:100%;
    margin:0;

}
.carousel{
   max-width:100%;
}
.carousel-inner, .carousel-item{
    height:100%;
}
body{
    margin:0;
    padding:0;
}
